function venv_activate() {
    if [ -d "$VENV_ROOT"/$1 ]; then
        source "$VENV_ROOT/$1/bin/activate"
        return 0
    else
        echo "No virtualenv named '$1' available"
    fi
    return 1
}

function venv_create() {
    if [ ! -d "$VENV_ROOT"/$1 ]; then
        virtualenv $VENV_ROOT/$1
        venv_activate $1
        echo "Created new virtualenv '$1'"
        return 0
    fi;

    echo "Virtualenv '$1' already exists!"
    return 1
}

function venv_ls() {
    ls $VENV_ROOT
}

function venv_rm() {
    if [ -d "$VENV_ROOT"/$1 ]; then
        rm -r $VENV_ROOT/$1
        echo "Removed virtualenv '$1'"
        return 0
    fi;

    echo "Virtualenv '$1' does not exist!"
    return 1
}

function git_tag_diff() {
    old_tag=$1
    new_tag=$2

    git log --oneline ${old_tag}..${new_tag} | sed 's/(.*)//'
}

function docker_rmi_all() {
    docker images | awk '{print $3}' | grep -v IMAGE | xargs docker rmi
}

function docker_kill_all() {
    docker ps -a | awk '{print $1}' | grep -v CONTAINER | xargs docker rm -f
}
